In [2]:
!pip install seaborn

Collecting seaborn
  Downloading seaborn-0.12.1-py3-none-any.whl (288 kB)
     -------------------------------------- 288.2/288.2 kB 2.2 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.17 in c:\users\hugox\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.23.4)
Collecting matplotlib!=3.6.1,>=3.1
  Downloading matplotlib-3.6.0-cp310-cp310-win_amd64.whl (7.2 MB)
     ---------------------------------------- 7.2/7.2 MB 3.1 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.25 in c:\users\hugox\appdata\local\programs\python\python310\lib\site-packages (from seaborn) (1.5.0)
Collecting contourpy>=1.0.1
  Downloading contourpy-1.0.5-cp310-cp310-win_amd64.whl (164 kB)
     -------------------------------------- 164.1/164.1 kB 3.3 MB/s eta 0:00:00
Requirement already satisfied: packaging>=20.0 in c:\users\hugox\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\hugox\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Collecting pillow>=6.2.0
  Downloading Pillow-9.3.0-cp310-cp310-win_amd64.whl (2.5 MB)
     ---------------------------------------- 2.5/2.5 MB 3.2 MB/s eta 0:00:00
Collecting kiwisolver>=1.0.1
  Downloading kiwisolver-1.4.4-cp310-cp310-win_amd64.whl (55 kB)
     ---------------------------------------- 55.3/55.3 kB 3.0 MB/s eta 0:00:00
Collecting cycler>=0.10
  Downloading cycler-0.11.0-py3-none-any.whl (6.4 kB)
Collecting fonttools>=4.22.0
  Downloading fonttools-4.38.0-py3-none-any.whl (965 kB)
     -------------------------------------- 965.4/965.4 kB 2.9 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hugox\appdata\local\programs\python\python310\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hugox\appdata\local\programs\python\python310\lib\site-packages (from pandas>=0.25->seaborn) (2022.4)
Requirement already satisfied: six>=1.5 in c:\users\hugox\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Installing collected packages: pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.0.5 cycler-0.11.0 fonttools-4.38.0 kiwisolver-1.4.4 matplotlib-3.6.0 pillow-9.3.0 seaborn-0.12.1

[notice] A new release of pip available: 22.2.2 -> 22.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
import pandas
import seaborn
import matplotlib.pyplot as plt

url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipotle_data = pandas.read_csv(url, sep = '\t')

chipotle_data.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [21]:
#Use the appropriate pandas methods to get the info on the data and describe it.
chipotle_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [8]:
#List the column names in the dataset.
sorted(chipotle_data)
# chipotle_data.columns

['choice_description', 'item_name', 'item_price', 'order_id', 'quantity']

In [16]:
#What is the most ordered item? How many exactly were ordered?
quant_data = chipotle_data[['quantity', 'item_name']].groupby('item_name').sum()
max_quant = quant_data['quantity'].max()
most_ordered_item =  quant_data[quant_data["quantity"] == max_quant]
most_ordered_item

# chipotle_data.groupby('item_name').sum().sort_values('quantity', ascending = False).head(1)

C:\Users\hugox\AppData\Local\Temp\ipykernel_10192\1289893934.py:7: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  chipotle_data.groupby('item_name').sum().sort_values('quantity', ascending = False).head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [20]:
# How much revenue did this chipotle make? 
# total_revenue  = chipotle_data["item_price"].sum()
# total_revenue
#about to iterate through item_price
chipotle_data['item_price'].replace( , char newChar)
chipotle_data.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object